#text-white {
  color: white;
}

#text-white:hover {
  color: inherit;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }

.block {
  display: inline-block;
  width: 25%;
  margin: auto;
}
